@font-face {
    font-family: 'Poppins';
    src: url(assets/fonts/Poppins-Regular.ttf);
}

:root {
    --primary: #4CAF50;
    --light-bg: #FFFFFF;
    --white: #dcf0cd;
    --blue-line: #B2D4F2;
    --bar-back: #B2D4F2;
    --bar-fill: #0A79B8;
    --gray: #888888;
    --font-regular: 'Poppins', 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-regular);
    background: var(--light-bg);
    color: #333;
}

.app-container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 260px;
    background: #E8F4FE;
    border-right: 1px solid var(--blue-line);
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 8px;
}

.logo span {
    font-size: 1.25rem;
    /* font-weight: bold; */
    color: #000;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    background: none;
    border: none;
    padding: 16px 55px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background 0.2s;
}

.item-menu {
    font-family: var(--font-regular);
}

.menu-item .icon {
    font-size: 1.25rem;
}

.leaf {
    width: 32px;
    height: 32px;
    margin-left: 5%;
}

a {
    text-decoration: none;
}